:root {
    --text-form: #131212;
    --bg-form: #ffffff;
    --success: #3cc20767;
    --error: #c20f0f80;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-form);
    color: var(--text-form);
    border-radius: 10px;
}

.succes {
    background-color: var(--success);
}

.error {
    background-color: var(--error);
}